<!-- Se incluye el fichero '_header.html' que DEFINE la CABECERA -->
<% include _header %>
<section class="">
    <p><%=__('PLEASE_LOGIN_TO_ACCESS_APPLICATION')%></p>
</section>
<!-- Se incluye el fichero '_footer.html' que DEFINE el PIE-->
<% include _footer %>
